In [1]:
import pandas as pd

In [5]:
import zipfile

In [7]:
zip_path = 'Medical Appointment No Shows.zip'

In [9]:
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall('extracted_data')  # Folder to extract into
    file_list = zip_ref.namelist()
    print("Files in ZIP:", file_list)

Files in ZIP: ['KaggleV2-May-2016.csv']

In [11]:
csv_file = 'extracted_data/' + file_list[0]
df = pd.read_csv(csv_file)

In [19]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [21]:
# identify missing values

In [17]:
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [27]:
# identify duplicates

In [25]:
df.duplicated

<bound method DataFrame.duplicated of            PatientId  AppointmentID Gender          ScheduledDay  \
0       2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1       5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2       4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3       8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4       8.841186e+12        5642494      F  2016-04-29T16:07:23Z
...              ...            ...    ...                   ...
110522  2.572134e+12        5651768      F  2016-05-03T09:15:35Z
110523  3.596266e+12        5650093      F  2016-05-03T07:27:33Z
110524  1.557663e+13        5630692      F  2016-04-27T16:03:52Z
110525  9.213493e+13        5630323      F  2016-04-27T15:09:23Z
110526  3.775115e+14        5629448      F  2016-04-27T13:30:56Z

              AppointmentDay  Age      Neighbourhood  Scholarship  \
0       2016-04-29T00:00:00Z   62    JARDIM DA PENHA            0
1       2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0
2       2016-04-29T00:00:00Z   62      MATA DA PRAIA            0
3       2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI            0
4       2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0
...                      ...  ...                ...          ...
110522  2016-06-07T00:00:00Z   56        MARIA ORTIZ            0
110523  2016-06-07T00:00:00Z   51        MARIA ORTIZ            0
110524  2016-06-07T00:00:00Z   21        MARIA ORTIZ            0
110525  2016-06-07T00:00:00Z   38        MARIA ORTIZ            0
110526  2016-06-07T00:00:00Z   54        MARIA ORTIZ            0

        Hipertension  Diabetes  Alcoholism  Handcap  SMS_received No-show
0                  1         0           0        0             0      No
1                  0         0           0        0             0      No
2                  0         0           0        0             0      No
3                  0         0           0        0             0      No
4                  1         1           0        0             0      No
...              ...       ...         ...      ...           ...     ...
110522             0         0           0        0             1      No
110523             0         0           0        0             1      No
110524             0         0           0        0             1      No
110525             0         0           0        0             1      No
110526             0         0           0        0             1      No

[110527 rows x 14 columns]>

In [29]:
# 2. Remove duplicate rows

In [31]:
df = df.drop_duplicates()

In [33]:
# 3. Standardize text values

In [35]:
df['Gender'] = df['Gender'].str.upper().str.strip()
df['No-show'] = df['No-show'].str.capitalize().str.strip()  # Capitalize No/Yes

In [37]:
# 4. Convert date formats to dd-mm-yyyy

In [39]:
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay']).dt.strftime('%d-%m-%Y')
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay']).dt.strftime('%d-%m-%Y')

In [41]:
# 5. Rename column headers to lowercase and replace spaces with underscores

In [43]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [45]:
# 6. Check and fix data types

In [47]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')